.header nav {
  display: flex;
  align-items: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header ul {
  width: fit-content;
  margin: 0;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
}

.header li {
  min-width: 90px;
}
